.fade-enter-active {
    animation: fade-in 300ms ease-in forwards;
}

.fade-leave-active {
    animation: fade-out 300ms ease-out forwards;
}

@keyframes fade-in {
    from {
        transform: scale(1.01);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(.99);
        opacity: 0;
    }
}

.fade-fast-enter-active {
    animation: fade-fast-in 100ms ease-in forwards;
}

.fade-fast-leave-active {
    animation: fade-fast-out 100ms ease-out forwards;
}

@keyframes fade-fast-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-fast-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

span.spacer {
    display: block;
    height: 24px;
}

span.spacer-inline {
    display: inline-block;
    width: 24px;
}

span.spacer-lg {
    display: block;
    height: 48px;
}

.id-number::before {
    content: "id#";
    display: inline-block;
    color: darkgray;
}

.table td {
    vertical-align: middle;
}
.table tr {
    align-items: center;
}

.table .cell-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    margin-bottom: 24px;
}
