.fade-enter-active {
    animation: fade-in 300ms ease-in forwards;
}

.fade-leave-active {
    animation: fade-out 300ms ease-out forwards;
}

@keyframes fade-in {
    from {
        transform: scale(1.01);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(.99);
        opacity: 0;
    }
}

span.spacer {
    display: block;
    height: 24px;
}

.id-number::before {
    content: "id#";
    display: inline-block;
    color: darkgray;
}

.table td {
    vertical-align: middle;
}
.table tr {
    align-items: center;
}